[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start="py main.py"
test="py src/tests.py"

[packages]
spotipy = "*"
requests = "*"
python-dotenv = "*"
pandas = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.8"
